<div class="row">
    <span class="h1 col-sm-8">Account {{$ctrl.currentAction}}</span>
    <span class="h1 col-sm-2 col-sm-offset-2">
        <button class="btn btn-lg btn-primary"
            type="button"
            ng-disabled="$ctrl.accountForm.$invalid || $ctrl.accountForm.$pending || $ctrl.saving "
            ng-click="$ctrl.save()" aria-label="Save">
            <span class="fa" aria-hidden="true"
                ng-class="{
                    'fa-save': !$ctrl.saving,
                    'fa-spinner fa-spin': $ctrl.saving
                }">
            </span>
            Save
        </button>
    </span>
</div>
<div class="row">
    <form name="$ctrl.accountForm" ng-submit="$ctrl.accountForm.$valid && $ctrl.save()">
        <fieldset>
            <legend>
                    <span class="clickable-text fieldset-header" ng-click="$ctrl.toggleFieldsetVisibility('accountInfo')">Account</span>
                    <span class="fa" ng-class="{'fa-caret-up': $ctrl.fieldSets.accountInfo.visible, 'fa-caret-down': !$ctrl.fieldSets.accountInfo.visible}"></span>
            </legend>
            <section class="animate-show-hide" ng-show="$ctrl.fieldSets.accountInfo.visible">
                <div class="row">
                    <div class="form-group has-feedback col-sm-12"
                        ng-class="{
                            'has-error': $ctrl.accountForm.user.$touched && $ctrl.accountForm.user.$invalid,
                            'has-success': $ctrl.accountForm.user.$touched && $ctrl.accountForm.user.$valid}">
                        <label class="control-label" for="user">User</label>
                        <input class="form-control" name="user" id="user"
                            server-error
                            type="text"
                            select-on-click
                            placeholder="Search by Name"
                            uib-typeahead="user as user.name for user in $ctrl.getUsers($viewValue)"
                            typeahead-editable="false"
                            typeahead-input-formatter="$ctrl.userFormatter($model)"
                            typeahead-template-url="app/account/edit/userTypeahead.html"
                            typeahead-loading="$ctrl.loadingUsers"
                            ng-model="$ctrl.user"
                            ng-model-options="{debounce: 500}">
                        <span class="form-control-feedback fa"
                            ng-class="{
                                'fa-times': $ctrl.accountForm.user.$touched && $ctrl.accountForm.user.$invalid,
                                'fa-check': $ctrl.accountForm.user.$touched && $ctrl.accountForm.user.$valid, 'fa-spinner fa-spin': $ctrl.loadingUsers}">
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-sm-12"
                        ng-class="{
                            'has-error': $ctrl.accountForm.name.$touched && $ctrl.accountForm.name.$invalid,
                            'has-success': $ctrl.accountForm.name.$touched && $ctrl.accountForm.name.$valid}">
                        <label class="control-label" for="name">Name</label>
                        <input class="form-control" name="name" id="name"
                            server-error
                            type="text"
                            required
                            ng-model-options="{updateOn: 'blur'}"
                            ng-model="$ctrl.account.name">
                        <span class="form-control-feedback fa"
                            ng-class="{
                                'fa-times': $ctrl.accountForm.name.$touched && $ctrl.accountForm.name.$invalid,
                                'fa-check': $ctrl.accountForm.name.$touched && $ctrl.accountForm.name.$valid}">
                        </span>
                        <div class="help-block" ng-messages="$ctrl.accountForm.name.$error">
                            <div ng-messages-include="app/account/edit/validation-messages.html"></div>
                            <div ng-message="server">{{$ctrl.errorMessages.server.name}}</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback col-sm-6"
                         ng-class="{
                            'has-error': $ctrl.accountForm.login.$touched && $ctrl.accountForm.login.$invalid,
                            'has-success': $ctrl.accountForm.login.$touched && $ctrl.accountForm.login.$valid}">
                        <label class="control-label" for="login">Login</label>
                        <input class="form-control" name="login" id="login"
                            server-error
                            validate-login="{{$ctrl.accountResource.login}}"
                            type="email" required
                            ng-model="$ctrl.account.login"
                            ng-model-options="{updateOn: 'blur'}"
                            ng-change="$ctrl.account.email = $ctrl.account.login; $ctrl.accountForm.email.$setDirty()">
                        <span class="form-control-feedback fa"
                            ng-class="{
                                'fa-spinner fa-spin': $ctrl.accountForm.login.$pending.validateLogin,
                                'fa-times': $ctrl.accountForm.login.$touched && $ctrl.accountForm.login.$invalid,
                                'fa-check': $ctrl.accountForm.login.$touched && $ctrl.accountForm.login.$valid}">
                        </span>
                        <div class="help-block" ng-messages="$ctrl.accountForm.login.$error">
                            <div ng-messages-include="app/account/edit/validation-messages.html"></div>
                            <div ng-message="validateLogin">Login name already exists.</div>
                            <div ng-message="match">Login must match email.</div>
                            <div ng-message="server">{{$ctrl.errorMessages.server.login}}</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback col-sm-6"
                         ng-class="{
                            'has-error': $ctrl.accountForm.email.$touched && $ctrl.accountForm.email.$invalid,
                            'has-success': $ctrl.accountForm.email.$touched && $ctrl.accountForm.email.$valid}">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" name="email" id="email"
                            server-error
                            type="email" required
                            ng-model="$ctrl.account.login"
                            ng-model-options="{updateOn: 'blur'}"
                            ng-change="$ctrl.account.login = $ctrl.account.login; $ctrl.accountForm.login.$setDirty()">
                        <span class="form-control-feedback fa"
                            ng-class="{
                                'fa-times': $ctrl.accountForm.email.$touched && $ctrl.accountForm.email.$invalid,
                                'fa-check': $ctrl.accountForm.email.$touched && $ctrl.accountForm.email.$valid}">
                        </span>
                        <div class="help-block" ng-messages="$ctrl.accountForm.email.$error">
                            <div ng-messages-include="app/account/edit/validation-messages.html"></div>
                            <div ng-message="server">{{$ctrl.errorMessages.server.email}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback col-sm-6"
                        ng-class="{
                          'has-error': $ctrl.accountForm.password.$touched && $ctrl.accountForm.password.$invalid,
                          'has-success': $ctrl.accountForm.password.$touched && $ctrl.accountForm.password.$valid}">
                        <label class="control-label" for="password">Password</label>
                        <input class="form-control" name="password" id="password"
                            server-error
                            type="password"
                            ng-minlength="8"
                            ng-model="$ctrl.account.password"
                            ng-model-options="{updateOn: 'blur'}">
                        <span class="form-control-feedback fa"
                            ng-class="{
                                'fa-times': $ctrl.accountForm.password.$touched && $ctrl.accountForm.password.$invalid,
                                'fa-check': $ctrl.accountForm.password.$touched && $ctrl.accountForm.password.$valid}">
                        </span>
                        <div class="help-block" ng-messages="$ctrl.accountForm.password.$error">
                            <div ng-messages-include="app/account/edit/validation-messages.html"></div>
                            <div ng-message="server">{{$ctrl.errorMessages.server.password}}</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback col-sm-6 select-container"
                        ng-class="{
                            'has-error': $ctrl.accountForm.roles.$touched && $ctrl.accountForm.roles.$invalid,
                            'has-success': $ctrl.accountForm.roles.$touched && $ctrl.accountForm.roles.$valid}">
                        <label class="control-label" for="roles">Roles</label>
                        <select class="form-control" name="roles" id="roles"
                            required
                            ng-model="$ctrl.roles"
                            ng-options="value as label for (value, label) in $ctrl.rolesEnum">
                        </select>
                        <span class="form-control-feedback fa"
                            ng-class="{
                                'fa-times': $ctrl.accountForm.roles.$touched && $ctrl.accountForm.roles.$invalid,
                                'fa-check': $ctrl.accountForm.roles.$touched && $ctrl.accountForm.roles.$valid}">
                        </span>
                        <div class="help-block" ng-messages="$ctrl.accountForm.status.$error">
                            <div ng-messages-include="app/account/edit/validation-messages.html"></div>
                            <div ng-message="server">{{$ctrl.errorMessages.server.status}}</div>
                        </div>
                    </div>
                </div>
            </section>
        </fieldset>
    </form>
</div>